.DS_Store
.envrc

# Git Keeps
!*/.gitkeep

# Files
*.log
*.wal
node_modules/
package-lock.json
yarn.lock

backups/*
!backups/.gitkeep

certs/*
!certs/.gitkeep
services/nginx/certs/*

data/*
!data/.gitkeep

logs/*
!logs/.gitkeep
